html,body {
  height: 100%;
}
.bg-blue {
  background-color: #000080;
}
#mainNav .navbar-brand {
  color: #FF8000;
}
#mainNav .navbar-brand:hover {
  color: #EEEEEE;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #FF8000;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #EEEEEE;
}
.team-member img {
  border: 3px solid #4D4DFF;
}
.team-member h4 {
  color: #EEEEEE;
}
.expences {
  color: #FFFFFF;
  font-weight: bold;
}
.balance-red {
  color: #FF0000;
}
.balance-green {
  color: #4EF84E;
}
.pyninjas-logo {
  width: 64px;
  height: auto;
  position: fixed;
  bottom: 3px;
  right: 10px;
}
.filters {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .fullheight {
    height: 100%
  }
}
