<!DOCTYPE html>
{% load static %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}{% trans "Share invoices with home mates and shopping list" %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}Emin Mastizada{% endblock %}">
    <title>{% block title %}{% trans "HomeSharing" %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  	<link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicon.ico' %}">
  	<link rel="icon" type="image/png" sizes="196x196" href="{% static 'favicons/favicon-192.png' %}">
  	<link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicons/favicon-160.png' %}">
  	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96.png' %}">
  	<link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicons/favicon-64.png' %}">
  	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32.png' %}">
  	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16.png' %}">
  	<link rel="apple-touch-icon" href="{% static 'favicons/favicon-57.png' %}">
  	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/favicon-114.png' %}">
  	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/favicon-72.png' %}">
  	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/favicon-144.png' %}">
  	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/favicon-60.png' %}">
  	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/favicon-120.png' %}">
  	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/favicon-76.png' %}">
  	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/favicon-152.png' %}">
  	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/favicon-180.png' %}">
  	<meta name="msapplication-TileColor" content="#FFFFFF">
  	<meta name="msapplication-TileImage" content="{% static 'favicons/favicon-144.png' %}">
  	<meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
  </head>

  <body id="page-top"{% block body-class %}{% endblock %}>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">{% trans "HomeSharing" %}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {% trans "Menu" %}
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">{% trans "Invoices" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">{% trans "Shopping List" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/admin/">{% trans "Administration" %}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <a href="https://pyninjas.com" target="_blank" title="Powered by pyninjas.com">
      <img class="mx-auto pyninjas-logo" src="{% static 'img/pyninjas.png' %}" alt="pyninjas.com">
    </a>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/agency.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
