{% extends "web/base.html" %}
{% load gravatar i18n %}
{% block body-class %} bg-blue{% endblock %}
{% block content %}
{% csrf_token %}
<section class="bg-blue fullheight" id="team">
  <div class="container">
    <div class="filters text-center">
      <select name="month" class="spendings_month_select" data-endpoint="{% url 'spendings' %}">
        <option value="1"{% if current_month == 1 %} selected{% endif %}>{% trans "January" %}</option>
        <option value="2"{% if current_month == 2 %} selected{% endif %}>{% trans "February" %}</option>
        <option value="3"{% if current_month == 3 %} selected{% endif %}>{% trans "March" %}</option>
        <option value="4"{% if current_month == 4 %} selected{% endif %}>{% trans "April" %}</option>
        <option value="5"{% if current_month == 5 %} selected{% endif %}>{% trans "May" %}</option>
        <option value="6"{% if current_month == 6 %} selected{% endif %}>{% trans "June" %}</option>
        <option value="7"{% if current_month == 7 %} selected{% endif %}>{% trans "July" %}</option>
        <option value="8"{% if current_month == 8 %} selected{% endif %}>{% trans "August" %}</option>
        <option value="9"{% if current_month == 9 %} selected{% endif %}>{% trans "September" %}</option>
        <option value="10"{% if current_month == 10 %} selected{% endif %}>{% trans "October" %}</option>
        <option value="11"{% if current_month == 11 %} selected{% endif %}>{% trans "November" %}</option>
        <option value="12"{% if current_month == 12 %} selected{% endif %}>{% trans "December" %}</option>
      </select>
      <select name="year" class="spendings_year_select">
        <option value="2017"{% if current_year == 2017 %} selected{% endif %}>2017</option>
        <option value="2018"{% if current_year == 2018 %} selected{% endif %}>2018</option>
        <option value="2019"{% if current_year == 2019 %} selected{% endif %}>2019</option>
      </select>
    </div>
    <div class="row">
      {% for user in users %}
      <div class="col-sm-4 details-{{ user.username }}">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{% gravatar_url user.email 256 %}" alt="{% trans "Avatar" %}">
          <h4>{{ user }}</h4>
          {# <p class="text-muted">@{{ user.username }}</p> #}
          <p class="text-muted"></p>
          <div class="row expences">
            <div class="col-md-12"><span class="user-total-spent">{{ user.total_spent|floatformat:2 }}</span> <i class="{{ currency_class}}"></i></div>
            <div class="col-md-12 {% if user.earnings < 0 %}balance-red{% else %}balance-green{% endif %} balance-details"><span class="user-total-earnings">{{ user.earnings|floatformat:2 }}</span> <i class="{{ currency_class}}"></i></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
